<%- include('partials/headerShow') -%>

<div class="details">
  <h1>User Details are: </h1>
  <p>Username: <%= userRegistered.username %></p>
  <p>Email Address: <%= userRegistered.email %></p>
</div>

<%- include('partials/footer') -%>
